**.swp
.coffeelintignore
.dockerignore
.envrc
.erb_lint.yml
.eslintignore
.eslintrc.json
.git
.github
.gitignore
.gitmodules
.rubocop.yml
.ruby-gemset
.ruby-version
.stylelintignore
.stylelintrc.json
Dockerfile
coffeelint.json
doc
docker-compose.yml
log
node_modules
overlay
storage
tags
test
tmp
usr
