<div id="places-search" class="places-container">
  <div class="places">
    <%= form_for(:places, method: :get, remote: true) do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group has-feedback has-clear">
            <div class="input-group">
              <span class="glyphicon glyphicon-search input-group-addon" aria-hidden="true"></span>
              <%= text_field_tag(:pattern, @pattern, class: 'form-control', placeholder: t('placeholder.places_search'), id: 'places-search-pattern') %>
               <span class="glyphicon glyphicon-remove-circle form-control-feedback form-control-clear" aria-hidden="true"></span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @places -%>
      <div class="list-group">
        <% @places.each do |place| -%>
          <%= link_to(map_path(bbox: place.bbox), remote: true, class: 'list-group-item') do %>
            <%= place.label %><span class="badge"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></span>
          <% end %>
        <% end -%>
    <% end -%>
  </div>
</div>
