<div id="places-search" class="places-container">
  <div class="places">
    <%= form_for(:places, method: :get, remote: true) do |f| %>
      <div class="row">
        <div class="col-12">
          <div class="has-clear">
            <div class="input-group">
              <i class="fas fa-search input-group-text"></i>
              <%= text_field_tag(:pattern, @pattern, class: 'form-control', placeholder: t('placeholder.places_search'), id: 'places-search-pattern') %>
               <i class="far fa-times-circle form-control-clear"></i>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <% if @places -%>
      <div class="list-group">
        <% @places.each do |place| -%>
          <%= link_to(map_path(bbox: place.bbox), remote: true, class: 'list-group-item') do %>
            <%= place.label %><span class="badge rounded-pill bg-secondary"><i class="fas fa-chevron-right"></i></span>
          <% end %>
        <% end -%>
    <% end -%>
  </div>
</div>
