<div class="container">
      <h1>API</h1>

      <h2>Übersicht</h2>
      <ul class="ul-static">
        <li>
          <a class="static-link" href="http://www.open311.org" target="_blank"><img class="img-rounded img-responsive img-static" src="/resources/images/logo_open311.png" alt="Open311 GeoReport v2" title="Open311 GeoReport v2" /></a>
        </li>
        <li>
          <a class="static-link" href="https://www.citysdk.eu/citysdk-toolkit/using-the-apis/open311-api" target="_blank"><img class="img-rounded img-responsive img-static" src="/resources/images/logo_citysdk.png" alt="CitySDK Smart Participation" title="CitySDK Smart Participation" /></a>
        </li>
      </ul>
      <p>
        Das Portal verfügt über eine Programmierschnittelle („Application Programming Interface“, kurz API), die den Standard <a class="static-link" href="http://wiki.open311.org/GeoReport_v2" target="_blank">Open311 GeoReport v2</a> vollständig implementiert. Darüber hinaus unterstützt die API Erweiterungen nach dem Standard <a class="static-link" href="https://www.citysdk.eu/citysdk-toolkit/using-the-apis/open311-api" target="_blank">CitySDK Smart Participation</a> (außer Mehrsprachigkeit und Objektklassen).<br/>
        Über die API kann lesend auf vorhandene Meldungen zugegriffen werden. Um einen API-Key und damit einen Schreibzugriff zu erhalten, melden Sie sich bitte unter <a class="static-link" href="mailto:klarschiff.hro@rostock.de">klarschiff.hro@rostock.de</a>. Um die gesamte Funktionalität des Portals abzubilden, wurden – mit Abwärtskompatibilität zu beiden Standards – <a class="static-link" href="https://github.com/bfpi/klarschiff-citysdk" target="_blank">zusätzliche Erweiterungen</a> implementiert (kommentieren, abstimmen, editieren etc.) und mit den Entwickler-Communities beider vorgenannter Standards abgestimmt.<br/>
      </p>
      
      <h2>Einstieg</h2>
      <p>
        Eine Übersicht über die Eigenschaften der API („Service Discovery“) finden Sie <a class="static-link" href="/citysdk/discovery.json" target="_blank">hier</a>.
      </p>
      
      <h2>Anwendungen</h2>
      <p>
        Verschiedene Anwendungen greifen bereits produktiv auf die API zu:
      </p>
      <ul class="ul-static">
        <li>
          <img class="img-rounded img-responsive img-static" src="/resources/images/api_ppc.png" alt="Prüf- und Protokollclient der Hanse- und Universitätsstadt Rostock" title="Prüf- und Protokollclient der Hanse- und Universitätsstadt Rostock" />
          <br/>
          Prüf- und Protokollclient der Hanse- und Universitätsstadt Rostock (als mobile Web-Anwendung)
        </li>
        <!-- <li>
          <img class="img-rounded img-responsive img-static" src="/resources/images/api_georeporter.png" alt="GeoReporter Android" title="GeoReporter Android" />
          <br/>
          GeoReporter der Stadt Bloomington (Indiana) in den Vereinigten Staaten von Amerika (als App verfügbar für <a class="static-link" href="https://play.google.com/store/apps/details?id=gov.in.bloomington.georeporter&hl=de" target="_blank">Android</a> und <a class="static-link" href="https://itunes.apple.com/de/app/georeporter/id487304759?mt=8" target="_blank">iOS</a>)
        </li> -->
      </ul>
</div>

