    <div class="container pb-3">
      <h1>Hilfe</h1>

      <h2>Abläufe</h2>
      <p>
          Der Status einer Meldung ist an deren Farbe zu erkennen:
          <ul>
            <li>grau – Die Meldung wurde noch nicht per E-Mail bestätigt.</li>
            <li>rot – Die Meldung wurde noch nicht von der Stadtverwaltung gesichtet und/oder es wurde noch nicht der passende Ansprechpartner gefunden.</li>
            <li>gelb – Die Stadtverwaltung bearbeitet die Meldung.</li>
            <li>grün – Die Meldung wurde gelöst.</li>
            <li>grün-gelb – Die Meldung konnte nicht gelöst werden.</li>
          </ul>
          Alle Meldungen folgen diesem Ablauf:</br>
          <img src="/resources/images/hilfe_schema.png"></img>
          </br>
          Bei jeder Statusänderung erhält die/der Autor/-in eine E-Mail und wird somit über Veränderungen informiert. Für andere Nutzer/-innen besteht die Möglichkeit den globalen RSS-Feed zu abonnieren oder anhand von Beobachtungsflächen über Meldungen informiert zu werden (siehe unten).
      </p>
      <h3>Zeit</h3>
      <p>
        Obwohl mit Klarschiff.HRO Meldungen schnell und einfach erstellt werden können, benötigt deren Bearbeitung immer Zeit. Die Bearbeitungsdauer schwankt zwischen wenigen Tagen (zum Beispiel bei Sperrmüllmeldungen) und einigen Monaten (zum Beispiel bei baulichen Veränderungen). Gerade bei lange andauernden Bearbeitungen wird versucht durch regelmäßige Aktualisierung über den jeweils aktuellen Stand der Bearbeitung zu informieren.
      </p>
      <h2>Erweiterte Funktionen</h2>
      <p>
        Neben den grundlegenden Funktionen zur Steuerung der Karte und zum Navigieren durch die Meldungen gibt es auch einige Funktionen, die nachfolgend etwas genauer erklärt werden sollen.
      </p>
      <h3>Unterstützung</h3>
      <p>
        Alle Meldungen können von anderen Nutzer/-innen „unterstützt“ werden, bei Ideen kommt den Unterstützungen eine besondere Bedeutung zu: So können die Sachbearbeiter/-innen in der Stadtverwaltung sehen, ob es sich eventuell um eine Einzelmeinung handelt oder ob der Vorschlag eine breitere Unterstützung erfährt. Ab 20 Stimmen wird die Idee auf jeden Fall von den Fachämtern geprüft. Da es sich hierbei nur um einen Indikator handelt (ähnlich einer Umfrage), obliegt es der Entscheidung der Ämter, ob nach der Prüfung der Vorschlag auch wirklich umgesetzt werden kann.
      </p>
      <h3>Missbrauch</h3>
      <p>
        Eine Missbrauchsmeldung sollten Sie dann absetzen, wenn Sie durch eine Meldung Persönlichkeitsrechte verletzt sehen, also wenn auf einem Foto zum Beispiel Gesichter oder Kfz-Kennzeichen zu erkennen sind. Alle eingehenden Texteingaben und Fotos werden zwar geprüft, bevor sie zur Veröffentlichung freigeben werden – trotzdem kann aber mal unabsichtlich etwas „durchrutschen“. 
      </p>
      <h3>Lob, Hinweise oder Kritik</h3>
      <p>
        Wenn Sie nicht nur ihre Zustimmung zeigen wollen, können Sie zu einer Meldung einen kurzen Text mit Lob, Hinweisen oder Kritik schreiben. Dieser nicht-öffentliche Kommentar erreicht sofort die/den aktuelle(n) Sachbearbeiter/-in für die Meldung. Bitte achten Sie deshalb auf einen thematischen Bezug und die Einhaltung der allgemeinen <a href="https://de.wikipedia.org/wiki/Netiquette">Netiquette</a>.
      </p>
      <h2>Beobachtungsflächen</h2>
      <p>
        Möchten Sie über neue Meldungen informiert werden, können Sie <a href="https://de.wikipedia.org/wiki/RSS_(Web-Feed)">RSS-Feeds</a> nutzen. Diese werden auch als „dynamische Lesezeichen“ bezeichnet und werden automatisch von Ihrem Browser regelmäßig aktualisiert bzw. sie können in einem externen Feed-Reader abonniert werden. Klicken Sie dazu auf „Beobachten“ und wählen Sie ihr bevorzugtes Gebiet. Danach können Sie filtern, welche Ideen und/oder Probleme aus welchen Kategorien für Sie relevant sind. Sie erhalten danach einen Link zu einem RSS-Feed, den Sie abonnieren können.
      </p>
    </div>
