    <div class="container mt-3 pb-3">
      <h1>Impressum</h1>

      <h2>Herausgeberin</h2>
      <p>
        Hanse- und Universitätsstadt Rostock<br/>
        Büro des Oberbürgermeisters<br/>
        Presse- und Informationsstelle<br/>
        18050 Rostock<br/>
        Telefon: +49 381 381-1417<br/>
        E-Mail: <a class="static-link" href="mailto:presse@rostock.de">presse@rostock.de</a><br/>
      </p>
      <h2>Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz</h2>
      <p>
        DE 137385469
      </p>
      <h2>Inhaltliche Verantwortung gemäß § 7 Abs. 1 Telemediengesetz</h2>
      <p>
        Hanse- und Universitätsstadt Rostock<br/>
        Büro des Oberbürgermeisters<br/>
        Ulrich Kunze<br/>
        Pressesprecher Presse- und Informationsstelle<br/>
        Hinter dem Rathaus 5<br/>
        18055 Rostock<br/>
        Telefon: +49 381 381-1418<br/>
        E-Mail: <a class="static-link" href="mailto:presse@rostock.de">presse@rostock.de</a><br/>
      </p>
      <h2>Konzept und Betreuung</h2>
      <p>
        Hanse- und Universitätsstadt Rostock<br/>
        Kataster-, Vermessungs- und Liegenschaftsamt<br/>
        Holbeinplatz 14<br/>
        18069 Rostock<br/>
      </p>
      <h2>Technische Realisierung</h2>
      <p>
        BFPI – Büro für praktische Informatik GmbH<br/>
        Fleckebyer Straße 1<br/>
        18239 Satow<br/>
      </p>
      <a class="static-link" href="http://www.europa-mv.de/foerderinstrumente/fonds_mv" target="_blank"><img src="/resources/images/logo_eu-fonds.png"/></a></br/>
      <small>Dieses Projekt wurde gefördert durch die Europäische Union und das Land Mecklenburg-Vorpommern.</small>

      <h2>Lizenzbestimmungen</h2>
      <p>
        Klarschiff ist unter der Freien-Software-Lizenz <a class="static-link" rel="license" href="https://www.gnu.org/licenses/gpl.html" target="_blank">GNU General Public License</a> auf <a class="static-link" href="https://github.com/bfpi" target="_blank">GitHub</a> veröffentlicht.
      </p>

      <h2>Haftung für angebotene Inhalte</h2>
      <p>
        Trotz sorgfältigen Recherchen und Prüfungen übernimmt die Hanse- und Universitätsstadt Rostock für die Richtigkeit, Vollständigkeit und Aktualität der von ihr angebotenen Inhalte keine Gewähr und keine Haftung. Insbesondere haftet die Hanse- und Universitätsstadt Rostock nicht für Schäden, die durch die direkte oder indirekte Nutzung oder Nichtnutzung der angebotenen Inhalte verursacht werden. Die Hanse- und Universitätsstadt Rostock behält es sich ferner ausdrücklich vor, einzelne Inhalte oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.<br/>
        Die Hanse- und Universitätsstadt Rostock ist als Diensteanbieterin gemäß § 7 Abs. 1 Telemediengesetz (TMG) für ihre eigenen Inhalte, die sie zur Nutzung bereithält, verantwortlich. Gemäß §§ 8 bis 10 TMG ist sie jedoch nicht verpflichtet, von fremden Eigentümern übermittelte oder gespeicherte Inhalte, die sie zur Nutzung bereithält, auf etwaige Rechtsverletzungen zu überprüfen. Gleichwohl verpflichtet sie sich zur umgehenden Entfernung betroffener Inhalte ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung.
      </p>

      <h2>Haftung für externe Links</h2>
      <p>
        Für die von Dritten angebotenen fremden Inhalte, auf die mittels externer Links verwiesen ist, übernimmt die Hanse- und Universitätsstadt Rostock keine Gewähr und keine Haftung, da sich diese Inhalte ihrer Einflussnahme entziehen. Verantwortlich für diese Inhalte ist stets der jeweilige Anbieter.<br/>
        Alle mittels externer Links verknüpfte fremde Inhalte wurden zum Zeitpunkt ihrer Verlinkung auf mögliche Rechtsverletzungen überprüft, mit dem Resultat, dass keine konkreten Rechtsverletzungen erkannt wurden. Die kontinuierliche Kontrolle der verlinkten Inhalte allerdings ist ohne Anhaltspunkte für eine konkrete Rechtsverletzung nicht zumutbar. Sollte die Hanse- und Universitätsstadt Rostock hingegen von einer konkreten Rechtsverletzung Kenntnis erlangen, wird sie die entsprechenden externen Links umgehend entfernen.
      </p>

      <h2>Urheberrecht</h2>
      <p>
        Die von der Hanse- und Universitätsstadt Rostock angebotene und in ihrem Eigentum befindliche ORKa.MV unterliegt der freien Lizenz <a class="static-link" rel="license" href="https://creativecommons.org/licenses/by/4.0" target="_blank">Creative Commons Namensnennung 4.0</a> (CC BY 4.0). Damit ist es gestattet die ORKa.MV zu nutzen, in jedwedem Format oder Medium zu vervielfältigen und weiterzuverbreiten sowie zu remixen, zu verändern und auf der ORKa.MV aufbauen, und zwar für beliebige Zwecke, auch und vor allem kommerziell. Allein der Quellenvermerk ist stets und bei jedweder Art der Nutzung erforderlich und wie folgt auszugestalten: © Hanse- und Universitätsstadt Rostock (CC BY 4.0).<br/>
        Die von der Hanse- und Universitätsstadt Rostock angebotenen und in ihrem Eigentum befindlichen sonstigen Inhalte sind urheberrechtlich geschützt und dienen ausschließlich Informationszwecken. Für nicht kommerzielle Zwecke ist es gestattet die Inhalte zu kopieren, zu verbreiten, öffentlich zugänglich zu machen sowie Abwandlungen und Bearbeitungen anzufertigen. Die Nutzung der Inhalte für kommerzielle Zwecke hingegen bedarf der vorherigen schriftlichen Zustimmung der Hanse- und Universitätsstadt Rostock und ist gegebenenfalls nur gegen Entgelt möglich. Der Quellenvermerk ist stets und bei jedweder Art der Nutzung erforderlich und wie folgt auszugestalten: © Hanse- und Universitätsstadt Rostock.<br/>
        Angebotene Inhalte und/oder diesen zugrundeliegende Daten, die von fremden Eigentümern übermittelt oder gespeichert wurden, unterliegen den Urheberrechten der jeweiligen eingetragenen Eigentümer und sind als Inhalte und/oder diesen zugrundeliegende Daten Dritter mit einem Quellenvermerk kenntlich gemacht. Sollte die Hanse- und Universitätsstadt Rostock dennoch von einer Urheberrechtsverletzung Kenntnis erlangen, wird sie die betroffenen Inhalte und/oder diesen zugrundeliegende Daten umgehend entfernen.
      </h2>

      <h2>Verweise auf angebotene Inhalte</h2>
      <p>
        Verweise auf die angebotenen Inhalte durch externe Angebote Dritter sind ausdrücklich erwünscht. Hingegen sind Verweise durch Angebote natürlicher oder juristischer Personen, die verfassungsfeindliche Ziele verfolgen, die eine sittenwidrige Tätigkeit ausüben oder die die Vermarktung von Artikeln mit sittenwidrigem Inhalt betreiben, nicht zulässig.
      </p>

      <h2>Barrierefreiheit</h2>
      <p>
        Die Hanse- und Universitätsstadt Rostock verpflichtet sich in ihren Leitlinien zur Stadtentwicklung die zum 26. März 2009 in Deutschland in Kraft getretene Behindertenrechtskonvention der Vereinten Nationen schrittweise umzusetzen. In ihren Internetauftritten achtet die Hanse- und Universitätsstadt Rostock daher auf die Einhaltung der Barrierefreien Informationstechnik-Verordnung (BITV 2.0). Bei der Erstellung des vorliegenden Angebotes konnten die Vorgaben der BITV 2.0 hingegen nicht berücksichtigt werden, da die Grenzen der Barrierefreiheit in der Darstellung digitaler Karten liegen.
      </p>

      <h2>Nutzung der Kontaktdaten</h2>
      <p>
        Der unverlangten Nutzung der in diesem Impressum veröffentlichten Kontaktdaten der Hanse- und Universitätsstadt Rostock durch Dritte, insbesondere der Zustellung unangeforderter Werbe- oder Informationsmaterialien, widerspricht die Hanse- und Universitätsstadt Rostock hiermit ausdrücklich. Sie behält sich ferner rechtliche Schritte gegen Dritte im Falle der Zustellung unangeforderter Werbe- oder Informationsmaterialien vor.
      </p>
    </div>
