<div class="container">
      <h1>Werbung</h1>

      <h2>Flyer und Poster</h2>
      <p>
        Wenn Ihnen unser Portal gefällt, können Sie gerne die nachfolgenden Werbemittel nutzen, um Nachbarn, Gäste, Kollegen, oder auch Kunden auf die hier gebotene Möglichkeit der Bürgerbeteiligung hinzuweisen. Die Werbemittel unterliegen der freien Lizenz <a class="static-link" rel="license" href="https://creativecommons.org/licenses/by/4.0" target="_blank">Creative Commons Namensnennung 4.0</a> (CC BY 4.0):
      </p>
      <ul class="ul-static">
        <li>
          <img class="img-rounded img-responsive img-static" src="/resources/images/poster.png" alt="Poster" title="Poster" />
          <br/>
          Poster von Angie Loose
          <br/>
          <a class="static-link" href="/resources/pdf/poster-mit-schnittmarken.pdf" target="_blank">Download als PDF</a>
        </li>
        <li>
          <img class="img-rounded img-responsive img-static" src="/resources/images/postkarte.png" alt="Postkarte" title="Postkarte" />
          <br/>
          Postkarte von Valeria Reinders
          <br/>
          <a class="static-link" href="/resources/pdf/postkarte-mit-schnittmarken.pdf" target="_blank">Download als PDF</a>
        </li>
      </ul>
</div>

