<div id="districts-form" class="area-container">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group btn-group-justified">
        <%= link_to t('buttons.cancel'), [:areas, cancel: true], remote: true, class: 'btn btn-default' %>
        <%= link_to t('buttons.resume'), 'javascript:;', remote: true, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>
