</br>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><%= t('.recent_requests') %></div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row form-group">
          <div class="col-md-12">
            Klarschiff.HRO
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <%= link_to t('buttons.requests'), [:map], role: :button, class: 'btn btn-default' %>
          </div>
        </div>
      </div>
    </div>
    <div id="news-panel" class="panel panel-default">
      <div class="panel-heading"><%= t('.news') %></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
