<div class="" id="headline">
  <h3>
    Fehler
  </h3>
</div>

<h2 class="text-center">
  Ihre Bestätigung konnte leider nicht akzeptiert werden.
  <br />
  Möglicherweise wurde die Bestätigung bereits durchgeführt.
</h2>
