/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require OpenLayers
 *= require_tree .
 *= require_self
 */

#content
  left: 0
  margin-top: 5em
  right: 0

  div.request
    margin-bottom: 5em

.clickable
  cursor: pointer

option.placeholder
  display: none

.job-status
  &.checked
    color: #50c80f
  &.unchecked
    color: #ff3700
  &.not_checkable
    color: #000000

#throbber
  background-color: #555555
  height: 100%
  opacity: 0.4
  position: absolute
  top: 0
  width: 100%
  z-index: 1500

#throbber-img
  bottom: 50%
  left: 50%
  position: absolute
  right: 50%
  top: 50%
  z-index: 1525
