/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require OpenLayers
 *= require jquery-ui/theme
 *= require_tree .
 *= require_self
 */
 
@font-face
  font-family: 'PT Sans'
  src: url(asset-path('PTS55F_W.ttf'))
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PT Sans'
  src: url(asset-path('PTS56F_W.ttf'))
  font-weight: normal
  font-style: italic

@font-face
  font-family: 'PT Sans'
  src: url(asset-path('PTS75F_W.ttf'))
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'PT Sans'
  src: url(asset-path('PTS76F_W.ttf'))
  font-weight: bold
  font-style: italic
  
body
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-size: 15px
  
#headline
  margin-top: 20px
  text-align: center
  border-color: #bce8f1
  padding-bottom: 2px
  color: #337ab7
  
textarea#abuse_comment
  margin-top: 10px

select
  cursor: pointer

.btn
  font-size: 15px
  
.img-rounded
  border-radius: 4px
  
.requests-img-panel
  font-size: 13px

.img-box
  width: 160px

.img-box img
  position: relative
  top: 0

.img-box .img-overlay
  position: absolute
  top: 8px
  padding-left: 5px
  font-weight: bold
  color: #333
  width: 160px
  padding-bottom: 2px
  background-color: rgba(255, 255, 255, 0.7)

.img-box:hover .img-overlay, .img-box:focus .img-overlay
  display: none

#content
  left: 0
  margin-top: 5em
  right: 0

  div.request
    margin-bottom: 5em

.clickable
  cursor: pointer

option.placeholder
  display: none

.job-status
  &.checked
    color: #50c80f
  &.unchecked
    color: #ff3700
  &.not_checkable
    color: #000000

a
  color: #1d4568
  
a:hover, a:focus
  text-decoration: none

li
  list-style-position: inside

#throbber
  display: none

  #throbber-img
    bottom: 50%
    left: 50%
    position: absolute
    right: 50%
    top: 50%
    z-index: 1525

#image-sources
  display: none

header
  padding: 10px 0
  height: 125px
  background-color: #d9edf7

  a
    color: #337ab7
    text-decoration: none
    
  a:hover, a:focus
    color: #286090
    text-decoration: none
    
  h1
    font-size: 48px
    font-weight: bold

  .container
    color: #333

  .text-right
    font-size: 17px

  #logo1
    margin: 5px 0

  #logo2
    float: right
    margin: 5px 10px

.footer
  position: fixed
  bottom: 0px
  padding: 10px 0
  width: 100%
  height: 60px
  background-color: #d9edf7

  a
    color: #337ab7
    text-decoration: none
    
  a:hover, a:focus
    color: #286090
    text-decoration: none

  .text-center
    font-size: 17px

  .small
    font-size: 12px

.container
  width: 99%
  margin-bottom: 30px

.sidebar
  background-color: #d9edf7
  width: 318px
  top: 11px
  bottom: 21px
  position: absolute
  z-index: 1000
  overflow-y: auto
  overflow-x: hidden

.sidebar .tab-content
  padding: 10px

.sidebar-toggler
  padding-top: 20px
  padding-bottom: 20px
  padding-left: 5px
  padding-right: 5px
  background-color: #d9edf7
  left: 318px
  z-index: 1010
  top: 40%
  position: absolute
  cursor: pointer

.sidebar-toggler span:before
  font-family: 'Glyphicons Halflings'
  content: '\e250'

.sidebar-toggler.open span:before
  content: '\e251'

.address-search-field
  position: absolute
  background-color: #337ab7
  padding: 1px
  left: 326px
  top: 11px
  width: 200px
  height: 34px
  z-index: 1000

  .panel-body
    padding: 5px

  input
    max-height: 20px
    padding: 0px 10px
    font-size: 15px
    border: none
    border-radius: 0

.view-switcher
  margin-top: 10px
  position: absolute
  top: 125px
  z-index: 100
  right: 0

  a
    width: 110px

.map-panel
  min-width: 80px
  max-width: 350px
  top: 50px
  position: absolute
  right: 0
  z-index: 1000

.map-panel .panel-heading
  padding: 6px 20px
  a
    display: block
    color: #fff

.map-panel .panel-heading [data-toggle="collapse"] span:before
  font-family: 'Glyphicons Halflings'
  content: '\2212'
  float: right

.map-panel .panel-heading .collapsed[data-toggle="collapse"] span:before
  content: '\2b'
  padding-left: 6px

.check-label
  font-weight: normal

.request-header
  border-bottom: 1px solid #ddd
  margin-bottom: 5px

.hidden-page
  display: none
 
#statistic-panel
  .last-form-group
    margin-bottom: 0

a.static-link
  font-weight: bold    
