@import "bootstrap/variables"

*
  margin: 0
  padding: 0

#ol-map
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 50px

.ol-control button
  font-size: $font-size-h3

  @media (max-width: $screen-sm-max)
    font-size: $font-size-h1

  @media (max-width: $screen-md-max)
    font-size: $font-size-h2

.ol-scale-line-inner
  font-weight: bold

.ol-attribution
  ul
    font-size: $font-size-small

  button
    font-size: $font-size-h5
