@import "bootstrap/variables"

*
  margin: 0
  padding: 0

.ol-map-mobile
  bottom: 0
  left: 0
  position: absolute
  right: 0
  top: 50px

.ol-map-desktop
  bottom: 50px
  left: 0
  position: absolute
  right: 0
  top: 100px

  .ol-zoom
    left: 325px
  
  .ol-scale-line
    left: 325px

.ol-touch .ol-control
  button
    font-size: $font-size-h1

.ol-scale-line-inner
  font-weight: bold

.ol-attribution,
.ol-touch .ol-attribution

  ul
    font-size: $font-size-small

  button
    font-size: $font-size-h5
