<div class="navbar navbar-expand-sm navbar-light bg-light fixed-bottom actions">
  <div class="container">
    <div class="btn-group d-flex col-12" role="group">
      <%= link_to('#', class: "btn btn-light btn-outline-secondary btn-continue back#{' disabled' if back.blank?} col-4", role: :button, data: { current: current, next: back }) do %>
        <i class="fas fa-backward"></i>
      <% end -%>
      <div class="btn btn-light btn-outline-secondary col-4">
        <span><strong><%= text %> <%= step %></strong></span>
      </div>
      <%= link_to('#', class: "btn btn-light btn-outline-secondary btn-continue #{' disabled' if nxt.blank?} col-4", role: :button, data: { current: current, next: nxt }) do %>
        <i class="fas fa-forward"></i>
      <% end -%>
    </div>
  </div>
</div>
