<ul class="nav nav-pills">
  <li class="nav-item">
    <a href="#request" id="requests" class="nav-link active header-tab" data-bs-toggle="tab" data-url="<%= requests_path %>"><%= t('.request') %></a>
  </li>
  <li class="nav-item">
    <a href="#watch" id="areas" class="nav-link header-tab" data-bs-toggle="tab" data-url="<%= areas_path %>"><%= t('.watch') %></a>
  </li>
</ul>
